{% extends 'base.html' %}
{% block title %}About Anthony Jacques{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Me!</h1>
        <p class="lead">Anthony Jacques</p>
        <hr class="my-4">
        <p class="lead">
            Hi there! This website is meant to show some of my favorite projects that I've worked on outside of work!  I like to tinker with different things from wood working to Python!
        </p>
        <p class="lead"></p>    
            I'm always trying to learn; you can see my projects on the <a href="{{ url_for('project.index') }}">Projects page</a>.
            And here are some other links if you'd like to know more!
        </p>
        <a href="https://www.linkedin.com/in/anthonyjacques20/" target="_blank" class="mx-3"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href="https://github.com/anthonyjacques20" target="_blank" class="mx-3"><i class="fab fa-github fa-3x"></i></a>

    </div>
</div>
{% endblock %}