{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}


{% block title %}Projects{% endblock %}

{% block content %}
<div class="bg-light">
    <h1 class="display-4 text-center">
        Project-Oriented Programming
    </h1>

    <div class="container">
        <div class="row">
            {% for post in posts %}
                    <div class="col-md-6 {% if loop.index % 4 == 0: %}
                                            order-md-{{ loop.index-1 }}
                                        {% elif loop.index % 4 ==3: %}
                                            order-md-{{ loop.index+1 }}
                                        {% endif %}">
                        <div class="card my-2 {% if loop.index % 2: %}bg-dark {% endif %}">
                            <a href="/{{ post['id'] }}">
                                <img src="{{ post['image'] }}" alt="{{ post['title'] }}" class="card-img-top">
                            </a>
                            <div class="card-body {% if loop.index % 2: %}text-light{% endif %}">
                                <h5 class="card-title">{{ post['title'] }}</h5>
                                <p class="card-text">{{ post['body'] }}</p>
                                {% if post['githuburl'] is not none and post['githuburl'] != '' %}
                                    <a href="{{ post['githuburl'] }}" target="_blank" class="btn btn-primary">GitHub</a>
                                {% endif %}
                                {% if post['moreinfourl'] is not none and post['moreinfourl'] != '' %}
                                    <a href="{{ post['moreinfourl'] }}" target="_blank" class="btn btn-info">More Information</a>
                                {% endif %}
                                {% if g.user['id'] == post['author_id']%}
                                    <div class="mt-2">
                                        <a href="/{{ post['id'] }}/edit" class="btn btn-info">Edit</a>
                                    </div>
                                {% endif %}
                                <p class="card-text"><small class="text-muted">by {{ post['username'] }} on {{ post['created'] }}</small></p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% if g.user %}
            <a class="btn btn-primary btn-block my-3" href="{{ url_for('blog.create') }}">Add New Project</a>
        {% endif %}
        <div id="footerSpacer">
        </div>
    </div>

    
</div>
{% endblock %}