{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
{% endblock %}


{% block title %}Projects{% endblock %}

{% block content %}
<div class="bg-light">
    <h1 class="display-4 text-center">
        Project-Oriented Programming
    </h1>

    <div class="container">
        <div class="row">
            {% for project in projects %}
                    <div class="col-md-6 {% if loop.index % 4 == 0: %}
                                            order-md-{{ loop.index-1 }}
                                        {% elif loop.index % 4 ==3: %}
                                            order-md-{{ loop.index+1 }}
                                        {% endif %}">
                        <div class="card my-2 {% if loop.index % 2: %}bg-dark {% endif %}">
                            <a href="/{{ project['id'] }}">
                                <img src="{{ project['image'] }}" alt="{{ project['title'] }}" class="card-img-top">
                            </a>
                            <div class="card-body {% if loop.index % 2: %}text-light{% endif %}">
                                <h5 class="card-title">{{ project['title'] }}</h5>
                                <p class="card-text">{{ project['body'] }}</p>
                                {% if project['githuburl'] is not none and project['githuburl'] != '' %}
                                    <a href="{{ project['githuburl'] }}" target="_blank" class="btn btn-primary">GitHub</a>
                                {% endif %}
                                {% if project['moreinfourl'] is not none and project['moreinfourl'] != '' %}
                                    <a href="{{ project['moreinfourl'] }}" target="_blank" class="btn btn-info">More Information</a>
                                {% endif %}
                                {% if current_user.id == project['author_id']%}
                                    <div class="mt-2">
                                        <a href="/{{ project['id'] }}/edit" class="btn btn-info">Edit</a>
                                    </div>
                                {% endif %}
                                <p class="card-text"><small class="text-muted">by {{ project['username'] }} on {{ project['created'] }}</small></p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
            <a class="btn btn-primary btn-block my-3" href="{{ url_for('project.create') }}">Add New Project</a>
        {% endif %}
        <div id="footerSpacer">
        </div>
    </div>

    
</div>
{% endblock %}