{% extends 'base.html' %}

{% block title %}{{ project['title'] }}{% endblock %}

{% block content %}
    <div id="projectTitle" class="jumbotron text-center" style="background: url({{ project['image'] }}) center center / cover no-repeat;">
        <div class="container text-light">
            <h1 class="display-6">{{ project['title'] }}</h1>
                {% if project['githuburl'] is not none and project['githuburl'] != '' %}
                    <a href="{{ project['githuburl'] }}" target="_blank" class="btn btn-primary">GitHub</a>
                {% endif %}
                {% if project['moreinfourl'] is not none and project['moreinfourl'] != '' %}
                    <a href="{{ project['moreinfourl'] }}" target="_blank" class="btn btn-info">More Information</a>
                {% endif %}
                {% if current_user.id == project['author_id']%}
                <div class="mt-2">
                    <a href="{{ url_for('project.edit', id=project['id']) }}" class="btn btn-info">Edit</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <p id="projectBody" class="h6">{{ project['body'] }}</p>
        {% if comments|length > 0 %}
            <hr>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for comment in comments %}
                        <li class="list-group-item">
                            <div class="row justify-content-between">
                                <div class="col-9">
                                    {{ comment['text'] }}
                                </div>
                                <div class="col-2 text-secondary">
                                    <small class="d-none d-sm-inline">by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d %H:%M') }}</small>
                                    {% if current_user.is_authenticated and (current_user.username == comment['username']) %}
                                    <div class="row justify-content-around">
                                        <a class="btn btn-info btn-sm" href="{{ url_for('comment.edit', id=project['id'], commentID=comment['id']) }}">Edit</a>
                                        <form action="{{ url_for('comment.delete', id=project['id'], commentID=comment['id']) }}" method="post">
                                            <button class="btn btn-danger btn-small" onclick="return confirm('Are you sure?');">Delete</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {# <li class="list-group-item">{{ comment['text'] }}<span class="float-right">by {{ comment['author_id'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</span></li> #}
                        {# <div class="row justify-content-between"> #}
                            {# <li class="list-group-item">{{ comment['text'] }}</li>
                            <li class="list-group-item text-secondary">by {{ comment['author_id'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</li> #}
                        {# </div> #}
                        {# <div class="card">
                            <div class="card-body">
                                {{ comment['text'] }}
                            </div>
                        </div> #}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <hr>
        {% if current_user.is_authenticated %}
            <form action="{{ url_for('comment.create', id=project['id']) }}" method="post">
                <div class="form-group row justify-content-around pb-3">
                    <textarea class="form-control col-8" name="text" rows="1" placeholder="Add a comment!"></textarea>
                    <button class="btn btn-success btn-large col-3 col-lg-1">Submit!</button>
                </div>
            </form>
        {% else %}
            <div class="text-center pb-2">
                <h5>
                    Login to add a comment!
                </h5>
            </div>
        {% endif %}
    </div>
{% endblock %}