#navbarIcon {
    height: 3rem;
    margin-left: 1rem;
}

#header { 
    background: center center / cover no-repeat;
    position: relative;
    height: 60%;
}

#nestedDescription {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

.authImage {
    background-image: url("/static/projectImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.authRow {
    min-height: calc(100vh - 134px);
}